{% extends 'base.html.twig' %}

{% block body %}
    
    <p>
        <a href="{{ path('rol_new') }}" class="btn btn-primary">Nuevo Rol</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for rol in rols %}
            <tr>
                <td>{{ rol.id }}</td>
                <td>{{ rol.nombre }}</td>
                <td>
                    <a href="{{ path('rol_edit', { 'id': rol.id }) }}" title="Editar Rol">
                      <i class="fa fa-pencil-square-o bigger-200"></i>
                    </a>&nbsp;&nbsp;
                    <a href="{{ path('rol_permiso', { 'id': rol.id }) }}" title="Asignar Permiso">
                        <i class="fa fa-cog bigger-230"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
