


{% extends 'base.html.twig' %}

{% block body %}
    {%set message_success = app.session.flashbag.get('success')%}
    {% if message_success %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            {% for msg  in  message_success%}
                {{ msg}}
            {% endfor %}
        </div>
    {% endif %}

    {%set message_error = app.session.flashbag.get('error')%}
    {% if message_error %}
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            {% for msg  in  message_error%}
                {{ msg}}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        <div class="row">
            <div class="cols col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{form_label(edit_form.nombre)}}
                {{form_widget(edit_form.nombre) }}
            </div>
            <div class="cols col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{form_label(edit_form.ruc)}}
                {{form_widget(edit_form.ruc) }}
            </div>
        </div>
        {{ form_widget(edit_form._token) }}
        <input type="submit" value="Guardar" class="btn btn-success"/>
    </form>

    
{% endblock %}

