<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="description" content="with draggable and editable events" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
        <meta http-equiv="expires" content="Sun, 19 Nov 1978 05:00:00 GMT">
        <meta http-equiv="expires" content="-1">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="robots" content="noindex">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap 3.3.6 -->
            <link href="{{asset('public/assets/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{asset('public/assets/font-awesome/4.5.0/css/font-awesome.min.css')}}" />
            <!-- Mi barrio css -->
            <link rel="stylesheet" href="{{asset('public/assets/css/mibarrio.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="manifest" href="{{asset('public/assets/js/manifest.json')}}"/>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
      <!-- Main content -->
      <header class="header-login">
        <div class="container"><h2><i class="fa fa-cloud"></i>&nbsp;SISCI</h2></div>
      </header>
      <section class="container-login">
        {% block body %}{% endblock %}
      </section>
      <footer class="main-footer footer.login">
        
      </footer>

      {% block javascripts %}
        

      {% endblock %}
    </body>
</html>
