{% extends 'base.html.twig' %}

{% block body %}
  
  <div class="box box-info">  
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                {{ form_row(form.evento) }}
              </div>
            </div>
            <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <label for="select" class="control-label">Evento</label>
              <select class="form-control" id="evento" name="evento">
                <option value="">Seleccionar</option>
              </select>
            </div>-->
          </div>
        </div>
      </div>
  </div>



  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" id="content-title">Listado De Asociados(Moradores)&nbsp;&nbsp;<img id="load_busper" src="{{asset('public/img/load.gif')}}" width="20" height="20" style="display: none"></h3>
    </div>
    <div id="content_persona">Sin registro por el momento</div>
  </div>
  
{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script type="text/javascript">

  $(document).ready(function(){

    var tipo_persona = $('#asistencia_evento_tipo_persona');
    var select_evento = $('#asistencia_evento_evento');
    var evento_id = '{{evento_id}}';

    $("#asistencia_evento_evento").val(evento_id);


    addHtmlPersona = function(data){

      var html = '<table class="table table-bordered table-condensed">';

      html+='<tr>';
          html+='<th>Nombre</th>';
          html+='<th>Asistio</th>';
      html+='<tr>';

      for(var i=0;i<data.length;i++){
        html+='<tr>';
          html+='<td>'+data[i].nombre+'</td>';
          html+='<td><input type="checkbox" name="persona_'+data[i].id+'" id="persona_'+data[i].id+'"></td>';
        html+='<tr>';
      }

      html+= '</table>';

      $('#content-table').html(html);
    }

    listaPersona = function(){

      if (tipo_persona.val()!='') {
        //$('#content-title').html('Listado De Asociados ');
        $("#content_persona").html('Buscando ...');
        $("#load_busper").show();
        //ajax
        $.ajax({
          type:"GET",
          url: "{{path('listado_persona')}}",
          data: {evento_id:select_evento.val()},
          success: function(data){
            //addHtmlPersona(data);
            $("#content_persona").html(data);
            $("#load_busper").hide();
          }
        });

      }else{
        //$('#content-title').html('--');
        $('#content-table').html('Sin resultados');
      }
    }

    //Listar peronas
    if (evento_id !='') {
      listaPersona();
    }

    select_evento.on("change", function(){
        listaPersona();
    });

    $('#guardar').on("click", function(){
      
    });

  });

</script>
{% endblock %}