{% extends 'base.html.twig' %}

{% block body %}
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Tipo</th>
        <th>Fecha Ini.</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in evento %}
      <tr>
        <td>{{entity.tipoactividad.nombre}}</td>
        <td>{{entity.tipopersona| mayuscula}}</td>
        <td>{{entity.fechainicio |date('d/m/Y') }} {#{entity.horainicio}#} {#{entity.fechafin |date('d/m/Y') }#} {#{entity.horafinal}#}</td>
        <td>
          {% set pasarlista  = getDiffFechasActual(entity.fechainicio, entity.horainicio) %}

          {%set cantasist = existeRegistroAsistencia(entity.id)%}

          {%if pasarlista == 0%}
            {%if cantasist > 0%}
              <a href="{{path('asistenciaevento_listapersona')}}?evento={{entity.id}}" class="color-purple" title="Editar Asistencia">
                <i class="ace-icon fa fa-pencil-square-o bigger-200"></i>
              </a>
            {%else%}
              <a href="{{path('asistenciaevento_listapersona')}}?evento={{entity.id}}" title="Registrar Asistencia">
                <i class="ace-icon fa fa-check-square-o bigger-200"></i>
              </a>
            {%endif%}
          {%endif%}
          
        </td>
      </tr>
    {%endfor%}
    </tbody>
    
  </table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script type="text/javascript">

  $(document).ready(function(){

  });

</script>
{% endblock %}