{% extends 'base.html.twig' %}

{% block body %}
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <!--<th>Id</th>-->
        <th>Asunto</th>
        <th>Fecha Inicio.</th>
        <th>Fecha Fin.</th>
        
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in pagination %}
      <tr>
        <!--<td>{#{entity.id|str_pad(4)}#}</td>-->
        <td>{{entity.asunto| ucwords}}</td>
        <td>{{entity.fechainicio |date('d/m/Y') }} {{ entity.horainicio | ampm }}</td>
        <td>{{entity.fechafin |date('d/m/Y') }} {{ entity.horafinal | ampm }}</td>
        <td>
          {% set pasarlista  = getPasarLista(entity.fechainicio, entity.horainicio) %}
          {{pasarlista}}
          {% set cantasist = existeRegistroAsistencia(entity.id)%}

          {% set icons =  'fa-check-square-o bigger-200'%}
          {% set class =  'color-blue'%}

          {% if cantasist > 0 %}
            {% set icons = 'fa-pencil-square-o bigger-200' %}
            {% set class = 'color-orange' %}
          {% endif %}

          {% if pasarlista =='block' %}
            {% set icons = 'fa-eye bigger-200' %}
            {% set class = 'color-block' %}
          {% endif %}
          
          
          <a href="{{path('asistenciaevento_listapersona')}}?evento={{entity.id}}block={%if pasarlista=='block'%}SI{%else%}NO{%endif%}" title="Registrar Asistencia" class="{{class}}">
            <i class="ace-icon fa {{icons}}"></i>
          </a>
          
        </td>
      </tr>
    {%endfor%}
    </tbody>
    
  </table>
  <!--Paginado-->
  <div class="pagination-navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script type="text/javascript">

  $(document).ready(function(){

  });

</script>
{% endblock %}