{% extends 'base.html.twig' %}

{% block body %}
  
  {%set message_success = app.session.flashbag.get('success')%}
  {% if message_success %}
      <div class="alert alert-success">
          <button class="close" data-dismiss="alert">
              <i class="ace-icon fa fa-times"></i>
          </button>
          {% for msg  in  message_success%}
              {{ msg}}
          {% endfor %}
      </div>
  {% endif %}

  {%set message_error = app.session.flashbag.get('error')%}
  {% if message_error %}
      <div class="alert alert-danger">
          <button class="close" data-dismiss="alert">
              <i class="ace-icon fa fa-times"></i>
          </button>
          {% for msg  in  message_error%}
              {{ msg}}
          {% endfor %}
      </div>
  {% endif %}
  <!--https://fontawesome.bootstrapcheatsheets.com/-->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <!--<th>Id</th>-->
        <th>Asunto</th>
        <th>Fecha Inicio.</th>
        <th>Fecha Fin.</th>
        
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in pagination %}
      <tr>
        <!--<td>{#{entity.id|str_pad(4)}#}</td>-->
        <td>{{entity.asunto| ucwords}}</td>
        <td>{{entity.fechainicio |date('d/m/Y') }} {{ entity.horainicio |date("H:i:s") | ampm }}</td>
        <td>{{entity.fechafin |date('d/m/Y') }} {{ entity.horafinal |date("H:i:s") | ampm }}</td>
        <td>
          {% set icons =  'fa-eye bigger-200'%}
          {% set class =  'color-block'%}

          {%if entity.estado.id==1%}
            {% set pasarlista  = getPasarLista(entity.fechainicio, entity.horainicio) %}
            {% set cantasist = existeRegistroAsistencia(entity.id)%}

            {% if cantasist > 0 %}
              {% set icons = 'fa-pencil-square-o bigger-200' %}
              {% set class = 'color-orange' %}
            {% else %}
              {% set icons = 'fa-check-square-o bigger-200' %}
              {% set class = 'color-blue' %}
            {% endif %}

            {% if pasarlista =='TEMPRANO' %}
              {% set icons = 'fa-eye bigger-200' %}
              {% set class = 'color-block' %}
            {% endif %}
          {% else %}
            {% set pasarlista  = 'BLOCK' %}
          {% endif %}

          {%if pasarlista !='TEMPRANO'%}
            <a href="{{path('asistenciaevento_listapersona')}}?evento={{entity.id}}&block={%if pasarlista=='BLOCK'%}SI{%else%}NO{%endif%}" title="{%if pasarlista=='BLOCK'%}Ver Asistencia{%else%}Registrar Asistencia{%endif%}" class="{{class}}">
              <i class="ace-icon fa {{icons}}"></i>
            </a>
          {% endif %}

          {%if pasarlista !='TEMPRANO' and entity.estado.id==1 %}
          <a href="{{path('cerrar_evento')}}?evento={{entity.id}}" title="Cerrar Actividad" class="color-blue">
            <i class="ace-icon fa fa-lock bigger-200"></i>
          </a>
          {% endif %} 
          
        </td>
      </tr>
    {%endfor%}
    </tbody>
    
  </table>
  <!--Paginado-->
  <div class="pagination-navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script type="text/javascript">

  $(document).ready(function(){

  });

</script>
{% endblock %}