{% extends 'base.html.twig' %}

{% block body %}
<div>
	<div class="widget-box">
		<div class="widget-header">
			<h4 class="widget-title">Más detalles del evento</h4>
			<div class="widget-toolbar">
				<a href="#" data-action="collapse">
					<i class="ace-icon fa fa-chevron-up"></i>
				</a>
			</div>
		</div>

		<div class="widget-body" style="display: block;">
			<div class="widget-main">
				<div>
					<label for="form-field-8"><b>Tipo Evento:</b>  {{evento.asunto}} / {{evento.tipoactividad.nombre}}</label>
				</div>
				<div>
					<label for="form-field-9"><b>Fecha Inicio:</b> {{evento.fechainicio |date('d/m/Y') }} {{evento.horainicio |date('H:i:s') | ampm}}</label>
				</div>
				<div>
					<label for="form-field-11"><b>Fecha Fin:</b> {{evento.fechafin |date('d/m/Y') }} {{evento.horafinal |date('H:i:s') | ampm}}</label>
				</div>
				<div>
					<label for="form-field-12"><b>Estado:</b> {{evento.estado.nombre}}</label>
				</div>
				<div>
					<label for="form-field-12"><b>Usuario Creación:</b> {{evento.usuariocrea.persona.nombre}}</label>
				</div>
			</div>
		</div>
	</div>
</div><br>
<form name="content-form" id="asistencia" name="asistencia"  method="POST" action="{{path('asistenciaevento_guardar')}}">
  <table class="table table-bordered dataTable" role="grid">
  	<tr role="row">
  		<th>Nro</th>
	  	<th>Nombres</th>
	  	<th>¿A?&nbsp;<input type="checkbox" name="asistio_todos" id="asistio_todos"></th>
	  	<th>¿T?&nbsp;<input type="checkbox" name="tarde_todos" id="tardanza_todos"></th>
	</tr>
	  {%set contador = 1%}
	  {%for entity in personas %}
	  	<tr>
	  		<td align="center" style="width: 10px">{{entity.numero}}</td>
	  		<td>{{entity.nombres}}</td>
	  		<td align="center" style="width: 55px">
	  			{%if entity.asistio == true %}
	  				<input type="checkbox" checked="checked" name="asistio_{{contador}}" id="asistio_{{contador}}" class="asistio">
	  			{%else%}
	  				<input type="checkbox" name="asistio_{{contador}}" id="asistio_{{contador}}" class="asistio">
	  			{%endif%}
	  		</td>
	  		<td align="center" style="width: 55px">
	  		{%if entity.asistio == true %}
	  			{%if entity.tardanza == true %}
	  				<input type="checkbox" checked="checked" name="tardanza_{{contador}}" id="tardanza_{{contador}}"  class="tardanza">
	  			{%else%}
	  				<input type="checkbox" name="tardanza_{{contador}}" id="tardanza_{{contador}}"  class="tardanza">
	  			{%endif%}
	  		{%else%}
	  			
	  			<input type="checkbox" name="tardanza_{{contador}}" id="tardanza_{{contador}}" style="display: none" class="tardanza">
	  			
	  		{%endif%}
	  			
	  			<input type="hidden" name="persona_{{contador}}" id="persona_{{contador}}" value="{{entity.id}}">
	  		</td>
	  	</tr>
	  	{%set contador=contador+1%}
	  {%endfor%}
	  <tr>
	  	<th colspan="1">Total:</th>
	  	<th colspan="3" style="text-align: center;">
	  		<table>
	  			<tr>
	  				<th>Asistio:</th>
	  				<td><input type="text" name="cant_asistio" id="cant_asistio" class="input-oculto" readonly="readonly"></td>
	  				<th>&nbsp;Falta:</th>
	  				<td><input type="text" name="cant_falto" id="cant_falto" class="input-oculto" readonly="readonly"></td>
	  				<th>&nbsp;Tarde:</th>
	  				<td><input type="text" name="cant_tarde" id="cant_tarde" class="input-oculto" readonly="readonly"></td>
	  			</tr>
	  		</table>
	  	</th>
	  </tr>
	  <input type="hidden" name="count_personas" id="count_personas" value="{{contador-1}}">
	  <input type="hidden" name="evento" id="evento" value="{{evento.id}}">
  </table><br>
  <p class="aling-left">
  	{%if block=='NO'%}
  		<button type="submit" id="guardar" name="guardar" class="btn btn-primary">Guardar</button>
  		<button type="submit" id="guardarcerrar" name="guardarcerrar" value="guardarcerrar" class="btn btn-danger">Guardar y Cerrar</button>
  	{%endif%}
  	<a href="{{path('asistenciaevento_index')}}" class="btn btn-default">Cancelar</a>
  </p>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$(document).ready(function(){

		var block = '{{block}}';

		if (block == 'SI') {
			$("input").attr('disabled','disabled');
		}
		
		contarAsistencia = function(){
			var cant_asistio = 0;
			var cant_falto = 0;
			var cant_tarde = 0;

			$("input.asistio[type='checkbox']").each(function(){
				if ($(this).is(':checked')==true) {
					cant_asistio += 1;
				}else{
					cant_falto += 1;
				}
			});

			$("input.tardanza[type='checkbox']").each(function(){
				if ($(this).is(':checked')==true && $(this).is(':visible')==true) {
					cant_tarde += 1;
				}
			});

			$("#cant_asistio").val(cant_asistio);
			$("#cant_falto").val(cant_falto);
			$("#cant_tarde").val(cant_tarde);
		}

		$("#asistio_todos").on("click",function(){
			var activo = true;
			if ($(this).is(":checked")==true) {
				activo = true;
			}else{
				activo = false;
			}

			$("input.asistio[type='checkbox']").each(function(){
				$(this).prop("checked",activo);
				var id    = $(this).attr('id');
				var split = id.split('_');
				if (activo == true) {
					$("#tardanza_"+split[1]).prop("checked",false).show();
				}else{
					$("#tardanza_"+split[1]).prop("checked",false).hide();
				}
			});

			$("#tardanza_todos").prop("checked",false);

			contarAsistencia();
		});

		$("#tardanza_todos").on("click",function(){
			var activo = true;
			if ($(this).is(":checked")==true) {
				activo = true;
			}else{
				activo = false;
			}

			$("input.tardanza[type='checkbox']").each(function(){
				if ($(this).is(":visible")==true) {
					$(this).prop("checked",activo);
				}				
			});

			contarAsistencia();
		});

		$(".asistio").on("click", function(){
			var id = $(this).attr('id');
			split = id.split('_');
			if ($(this).is(':checked') ==true) {
				$("#tardanza_"+split[1]).show();
			}else{
				$("#tardanza_"+split[1]).hide();
			}

			contarAsistencia();
		});

		$(".tardanza").on("click", function(){
			contarAsistencia();
		});

		contarAsistencia();

	})
</script>
{% endblock %}