{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lote in lotes %}
            <tr>
                <td><a href="{{ path('lote_show', { 'id': lote.id }) }}">{{ lote.id }}</a></td>
                <td>{{ lote.nombre }}</td>
                <td>{{ lote.descripcion }}</td>
                <td>{% if lote.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lote_show', { 'id': lote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lote_edit', { 'id': lote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lote_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
