{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" action="{{ path('usuario_update', { 'id': id })}}">

        <div class="row">
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(edit_form.usuario)}}
                {{form_widget(edit_form.usuario) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(edit_form.password)}}
                {{form_widget(edit_form.password) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(edit_form.rol)}}
                {{form_widget(edit_form.rol) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(edit_form.activo)}}
                {{form_widget(edit_form.activo) }}
            </div>
        </div>

        <input type="submit" value="Actualizar" class="btn btn-success">
        <a href="{{ path('usuario_index') }}" class="btn btn-defaul">Cancelar</a>
    </form>    

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function(){

            $( "#bus_persona" ).autocomplete({
              source: function( request, response ) {
                $("#load_busper").show();
                $.ajax({
                    type: 'GET',
                    url: "{{path('usuario_listapersona')}}",
                    data: {term: request.term,tipoP: $("input[name='tipo_persona']:checked").val()},
                    dataType: "json",
                    success: function( data ) {
                        $("#load_busper").hide();
                        response(data);
                    }
                });
              },
              minLength: 2,
              select: function(event, ui) {
                //console.log(ui);
                  //addPersona(ui.item);
                $(this).val(ui.value);
                $("#checnes_registrobundle_usuario_persona").val(ui.item.id);
                $("#checnes_registrobundle_usuario_usuario").val(ui.item.dni);
                //return false;
              }
            });
        });
    
        
    </script>
{% endblock %}


