{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" action="{{ path('usuario_sav')}}">

        <div class="row">
            <div class="cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <label>Buscar Persona:</label>
                <div class="input-group">
                    <input type="text" class="form-control ui-autocomplete-input" id="bus_persona" name="bus_persona" placeholder="Buscar ..." autocomplete="off">
                    <input type="hidden" name="persona_id" id="persona_id">
                    <span class="input-group-addon">
                        <img id="load_busper" src="{{asset('public/img/load.gif')}}" width="20" height="20" style="display: none">
                    </span>
                    {{form_widget(form.persona) }}
                </div>
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.usuario)}}
                {{form_widget(form.usuario) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.password)}}
                {{form_widget(form.password) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.rol)}}
                {{form_widget(form.rol) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.activo)}}
                {{form_widget(form.activo) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
        <input type="submit" value="Crear" class="btn btn-success">
        <a href="{{ path('usuario_index') }}" class="btn btn-defaul">Cancelar</a>
    </form>    

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function(){

            $( "#bus_persona" ).autocomplete({
              source: function( request, response ) {
                $("#load_busper").show();
                $.ajax({
                    type: 'GET',
                    url: "{{path('usuario_listapersona')}}",
                    data: {term: request.term,tipoP: $("input[name='tipo_persona']:checked").val()},
                    dataType: "json",
                    success: function( data ) {
                        $("#load_busper").hide();
                        response(data);
                    }
                });
              },
              minLength: 2,
              select: function(event, ui) {
                //console.log(ui);
                  //addPersona(ui.item);
                $(this).val(ui.value);
                $("#checnes_registrobundle_usuario_persona").val(ui.item.id);
                $("#checnes_registrobundle_usuario_usuario").val(ui.item.dni);
                //return false;
              }
            });
        });
    
        
    </script>
{% endblock %}


