{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ usuario.usuario }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ usuario.salt }}</td>
            </tr>
            <tr>
                <th>Fecha_creacion</th>
                <td>{{ usuario.fechacreacion }}</td>
            </tr>
            <tr>
                <th>Ultimo_acceso</th>
                <td>{{ usuario.ultimoacceso }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if usuario.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if usuario.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Anio</th>
                <td>{{ usuario.anio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
