{% extends 'base.html.twig' %}

{% block stylesheets%}
	{{ parent() }}
	<!--Date picker-->
    <link rel="stylesheet" href="{{asset('public/assets/css/bootstrap-datepicker3.min.css')}}" />
    <link rel="stylesheet" href="{{asset('public/assets/css/bootstrap-timepicker.min.css')}}" />
    <!--<link rel="stylesheet" href="{{asset('public/assets/css/chosen.min.css')}}" />-->
{% endblock %}

{% block body %}
    
    <div class="row">
		<!-- /.col -->
	    <div class="col-md-12">
	      <div class="box box-primary">
	        <div class="box-body no-padding">
	          <!-- THE CALENDAR -->
	          <div id="calendar"></div>
	        </div>
	        <!-- /.box-body -->
	      </div>
	      <!-- /. box -->
	    </div>
	    <!-- /.col -->
    </div>

    <div id="myModal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content" id="modal_content">
	        	
	        </div>
	    </div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!--Datepicker and timepicker-->
    <script src="{{asset('public/assets/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('public/assets/js/bootstrap-timepicker.min.js')}}"></script>
    <!--<script src="{{asset('public/assets/js/chosen.jquery.min.js')}}"></script>-->
	
<script type="text/javascript">
   $(document).ready(function(){
    	
    	strPad = function(input, length, string) {
		    string = string || '0'; input = input + '';
		    return input.length >= length ? input : new Array(length - input.length + 1).join(string) + input;
		}

    	getDateActual = function(){
	    	var today = new Date();
	    	var dd = strPad(today.getDate(),2,0);
	    	var mm = strPad(today.getMonth(),2,0);
	    	var yy = today.getFullYear();

	    	return yy+'-'+mm+'-'+dd;
	    }

	    getFormatDate = function(date){
	    	var date = new Date(date);
	    
	    	var dd = strPad(date.getDate(),2,0);
	    	var mm = strPad(date.getMonth(),2,0);
	    	var yy = date.getFullYear();

	    	return yy+'-'+mm+'-'+dd;
	    }
    	
    	
	    //Date for the calendar events (dummy data)
	    var date = new Date();
	    var d = date.getDate(),
	        m = date.getMonth(),
	        y = date.getFullYear();
	    var fecha_actual = '{{fecha_actual}}';

	    

	    $('#calendar').fullCalendar({
		    buttonHtml: {
				prev: '<i class="ace-icon fa fa-chevron-left"></i>',
				next: '<i class="ace-icon fa fa-chevron-right"></i>'
			},
	      header: {
	        left: 'prev,next today',
	        center: 'title',
	        right: 'month,agendaWeek,agendaDay'
	      },
	      buttonText: {
	        today: 'today',
	        month: 'month',
	        week: 'week',
	        day: 'day'
	      },
	      css:{
	      	margin:'5px'
	      },
	      //Random default events
	      events: {{eventos|raw}},
	      editable: false,
	      droppable: false, // this allows things to be dropped onto the calendar !!!
	      drop: function (date, allDay) { // this function is called when something is dropped

	        // retrieve the dropped element's stored Event Object
	        var originalEventObject = $(this).data('eventObject');

	        // we need to copy it, so that multiple events don't have a reference to the same object
	        var copiedEventObject = $.extend({}, originalEventObject);

	        // assign it the date that was reported
	        copiedEventObject.start = date;
	        copiedEventObject.allDay = allDay;
	        copiedEventObject.backgroundColor = $(this).css("background-color");
	        copiedEventObject.borderColor = $(this).css("border-color");
	        copiedEventObject.css({'margin':'20px'});

	        // render the event on the calendar
	        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
	        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

	        // is the "remove after drop" checkbox checked?
	        if ($('#drop-remove').is(':checked')) {
	          // if so, remove the element from the "Draggable Events" list
	          $(this).remove();
	        }

	      },
	      eventRender: function(event, element)
		  { 
		  	var description = event.description;
		  	if (description.length >= 20) {
		  		description = description.substr(0, 20)+' ...';
		  	}

		  	var html_cont = '<div class="group-resumen">';
		  	html_cont +='<p class="resumen"><b>Hora: </b>'+event.hora_inicio+' - '+event.hora_final+'</p>';
		  	//html_cont += '<p class="resumen"><b>Det.: </b>'+description +'</p>';
		  	html_cont += '</div>';

		  	//agremaos resumen
		  	element.find('.fc-content').append(html_cont);

		  	if (event.condicion == 'porconfirmar' || event.condicion == 'cancelado') {

		  		var html_close = '<div class="box-tools pull-right closeon">';
			  	html_close += '<button type="button" class="btn btn-box-tool" data-widget="remove" style="border: 4px solid #abbabc;"><i class="fa fa-times"></i></button>';
			  	html_close += '</div>';

			  	element.find('.fc-content .fc-title').append(html_close);
			  	
		  	}
		  	
			//boton eliminar evento
			element.find(".closeon").on("click",function() {
               $('#calendar').fullCalendar('removeEvents',event._id);
               //console.log(event);
               $.ajax({
               	type: 'POST',
               	url: "{{ path('evento_delete') }}",
               	data: {'id':event.id_event},
               	success: function(data){
               		$('#calendar').fullCalendar('removeEvents',event._id);
               	}
               })
            });
		  },
          dayRender: function(date, cell){
		    //var myDate = new Date('Y-m-d');
		    var dateActual   = getDateActual();
            //dia agregados
            var dateCalendar = getFormatDate(date);
			//myDate.setDate(myDate.getDate() - daysToRest);

            if (dateCalendar < dateActual){
                $(cell).addClass('disabled');
            }
            else
            {
                $(cell).removeClass('disabled'); 
            } 
		  },
	      dayClick: function(date, jsEvent, view){

	      	var dateActual   = getDateActual();
			var dateCalendar = getFormatDate(date);

            if (dateCalendar < dateActual) {
                //console.log("pasado");
            }
            else
            {	
            	/*tooggle('enabled');
                //hoy o futuro
                var action = "{{ path('evento_create') }}";
	      	
		      	$("#myModal #evento").attr('action',action);

		      	$(".modal-title").html("Nuevo evento de calendario - "+date.format());
		    	$("#myModal .modal-body #fecha").val(date.format());
		    	$("#myModal .modal-body #fecha_fin").val(fecha_actual);

			    $("#myModal").modal('show');*/


			    
			    $.post( "{{path('evento_new')}}",{'dayClick':date.format()}, function( data ) {
				  $("#modal_content").html( data );
				  $("#myModal #fecha").val(date.format());
				  $("#myModal").modal('show');
				});  
            } 

	      	
	      },
	      eventClick: function(calEvent, jsEvent, view){
	      	//console.log(calEvent);
	      	var myDate = new Date();
            //dia agregados
            var daysToRest = 1;

            var activo = false;
			myDate.setDate(myDate.getDate() - daysToRest);

            if (calEvent['start']._d < myDate) {
                //fechas pasadas
                /*$("#myModal .modal-title").html("<h3>Editar evento de calendario - "+calEvent['_start']._i+"</h3>");
                $("#myModal .modal-body #fecha").val(calEvent['_start']._i);
                $("#myModal .modal-body #nombre").val(calEvent['nombre']);
		    	$("#myModal .modal-body #tipo").val(calEvent['tipo']);
		    	$("#myModal .modal-body #hora_inicio").val(calEvent['hora_inicio']);
		    	$("#myModal .modal-body #hora_final").val(calEvent['hora_final']);
		    	$("#myModal .modal-body #hora_final").val(calEvent['hora_final']);
		    	$("#myModal .modal-body #fecha_fin").val(calEvent['_end']._i);

		    	$("#myModal .modal-body #tipo_persona_"+calEvent['tipo_persona']).prop('checked','checked');

		    	$("#myModal .modal-body #cond_"+calEvent['condicion']).prop('checked','checked');

		    	tooggle('disabled');*/

		    	activo = false;
            }else{

            	activo = true;
            	/*var action = "{{ path('evento_index') }}";
	      	
		      	$("#myModal #evento").attr('action',action+calEvent['id_event']+'/update');

		      	$("#myModal .modal-title").html("<h3>Editar evento de calendario - "+calEvent['_start']._i+"</h3>");
		    	
		    	if (calEvent['condicion'] == 'porconfirmar') {

		    		tooggle('enabled');

		    		$("#myModal .modal-body #fecha").val(calEvent['_start']._i);
			    	$("#myModal .modal-body #tipo_actividad").val(calEvent['tipo_actividad']);
			    	$("#myModal .modal-body #hora_inicio").val(calEvent['hora_inicio']);
			    	$("#myModal .modal-body #hora_final").val(calEvent['hora_final']);
			    	$("#myModal .modal-body #fecha_fin").val(calEvent['_end']._i);
			    	$("#myModal .modal-body #detalle").val(calEvent['detalle']);
			    	console.log(calEvent);

			    	$("#myModal .modal-body #tipo_persona_"+calEvent['tipo_persona']).prop('checked','checked');
			    	$("#myModal .modal-body #cond_"+calEvent['condicion']).prop('checked','checked');

			    	$("#myModal #enviar, #myModal #enviar").removeAttr('disabled').show();
			    	$("#myModal #enviar, #myModal #guardar_registrar_asistencia").removeAttr('disabled').show();
		    	}else{

		    		tooggle('disabled');

		    		//$("#myModal .modal-body input[type='radio']").removeAttr('disabled');

		    		$("#myModal .modal-body #fecha").val(calEvent['_start']._i);
			    	$("#myModal .modal-body #nombre").val(calEvent['nombre']);
			    	$("#myModal .modal-body #tipo_actividad").val(calEvent['tipo_actividad']);
			    	$("#myModal .modal-body #hora_inicio").val(calEvent['hora_inicio']);
			    	$("#myModal .modal-body #hora_final").val(calEvent['hora_final']);
			    	$("#myModal .modal-body #fecha_fin").val(calEvent['_end']._i);

			    	$("#myModal .modal-body #detalle").val(calEvent['detalle']);

			    	$("#myModal .modal-body #tipo_persona_"+calEvent['tipo_persona']).prop('checked','checked');

			    	$("#myModal .modal-body #cond_"+calEvent['condicion']).prop('checked','checked');

			    	$("#myModal .modal-body fieldset input[type='radio']").removeAttr('disabled');

			    	switch(calEvent['condicion']) {
					    case 'confirmado':
					        $("#myModal .modal-body #cond_porconfirmar").attr('disabled', 'disabled');
					        $("#myModal #enviar, #myModal #guardar_registrar_asistencia").show();
					        break;
					    case 'realizandose':
					        $("#myModal .modal-body #cond_porconfirmar").attr('disabled', 'disabled');
					        $("#myModal .modal-body #cond_confirmado").attr('disabled', 'disabled');
					        $("#myModal #enviar, #myModal #guardar_registrar_asistencia").show();
					        break;
					    case 'finalizo':
					        $("#myModal .modal-body input[type='radio']").attr('disabled','disabled');
					        $("#myModal #enviar, #myModal #guardar_registrar_asistencia").hide();
					        break;
					    case 'cancelado':
					        $("#myModal .modal-body input[type='radio']").attr('disabled','disabled');
					        $("#myModal #enviar, #myModal #guardar_registrar_asistencia").hide();
					        break;
					}

					if (calEvent['condicion'] == 'confirmado' || calEvent['condicion'] == 'realizandose') {
						$("#myModal #enviar, #myModal #enviar").removeAttr('disabled').show();
			    		$("#myModal #enviar, #myModal #guardar_registrar_asistencia").removeAttr('disabled').show();
					}
					

		    	}*/
		    	
            }

            var url = "{{path('evento_edit')}}";
            if (activo == false) {
                url = "{{path('evento_show')}}";
            }
	    	
	    	$.post(url,{'evento_id':calEvent['id_event']}, function( data ) {
			  $("#modal_content").html( data );
			  $("#myModal").modal('show');
			});

	      }
	    });
		
	       

    	/*$( "#guardar_registrar_asistencia").click(function(e) {
    		e.preventDefault();
    		$("#reg_asistencia").val('REG_ASISTENCIA');
		  	$("#evento" ).submit();
		});*/

    	//Function disabled and enabled
    	tooggle = function(action){

    		if (action == 'disabled') {
    			$( "#myModal :input" ).attr('disabled','disabled');
    			$("#myModal #cerrar").removeAttr('disabled');
		    	$("#myModal #guardar_registrar_asistencia").hide();
		    	$("#myModal #enviar").hide();
    		}else{
    			$( "#myModal :input" ).removeAttr('disabled');
    			$("#myModal #guardar_registrar_asistencia").removeAttr('disabled').show();
		    	$("#myModal #enviar").removeAttr('disabled').show();
    		}

    		$( "#myModal .close" ).removeAttr('disabled');
    	}
	 });
    </script>
{% endblock %}