{% extends 'base.html.twig' %}

{% block stylesheets%}
	{{ parent() }}
   
{% endblock %}

{% block body %}
    <p>
    	
    </p>
    <table width="100%">
        <tr>
            <td class="align-left"><a href="{{path('evento_newlistado')}}" class="btn btn-primary">Nuevo Evento</a></td>
            <td class="align-right"><div class="count-reg"><b>Nro. Reg. {{ pagination.getTotalItemCount }}</b></div></td>
        </tr>
    </table>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Asunto</th>
                <th>Fecha Ini.</th>
                <th>Fecha Fin.</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in pagination %}
            <tr>
            	<td>{{ evento.fechainicio |date("Y-m-d") }} {{ evento.horainicio |date("H:i:s") | ampm }}</td>
            	<td>{{ evento.fechafin |date("Y-m-d") }} {{ evento.horafinal |date("H:i:s") | ampm }}</td>
                <td>{{ evento.asunto | ucwords }}</td>
                <td>

                    {%if evento.estado.id==1 %}
                        <a href="{{ path('evento_showlistado', { 'id': evento.id }) }}" class="color-blue"><i class="ace-icon fa fa-pencil-square-o bigger-200"></i></a>
                    {% else %}
                        <a href="{{ path('evento_showlistado', { 'id': evento.id }) }}" class="color-block"><i class="ace-icon fa fa-eye bigger-200 bigger-200"></i></a>
                    {% endif %}
                    
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--Paginado-->
    <div class="pagination-navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    
{% endblock %}