{% extends 'base.html.twig' %}

{% block stylesheets%}
	{{ parent() }}
   
{% endblock %}

{% block body %}
    <p>
    	<a href="{{path('evento_newlistado')}}" class="btn btn-primary">Nuevo Evento</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
            	<td>{{ evento.fechainicio |date("Y-m-d") }}</td>
            	<td>{{ evento.horainicio }}</td>
                <td>{{ evento.tipoactividad.nombre }}</td>
                <td>
                    {% if evento.fechainicio |date("Y-m-d") < 'now'|date('Y-m-d') %}
                        <a href="{{ path('evento_showlistado', { 'id': evento.id }) }}" class="color-orange"><i class="ace-icon fa fa-eye bigger-200"></i></a>
                    {% else %}
                        <a href="{{ path('evento_editlistado', { 'id': evento.id }) }}"><i class="ace-icon fa fa-pencil-square-o bigger-200"></i></a>
                    {% endif %}
                    
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    
{% endblock %}