{% extends 'base.html.twig' %}

{% block stylesheets%}
  {{ parent() }}
    <link rel="stylesheet" href="{{asset('public/assets/css/bootstrap-datepicker3.min.css')}}" />
    <link rel="stylesheet" href="{{asset('public/assets/css/bootstrap-timepicker.min.css')}}" />
{% endblock %}

{% block body %}
<form role="form" method="POST" name="evento" id="evento" action="{{ path('evento_create') }} ">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#inicio">Inicio</a></li>
      <li><a data-toggle="tab" href="#participante">Participante(s)</a></li>
    </ul>

    <div class="tab-content">
      <div id="inicio" class="tab-pane fade in active">
        <div class="form-group">
          <input type="hidden" class="form-control" id="nombre" name="nombre">
          <input type="hidden" class="form-control" id="origen" name="origen" value="form_normal">
          <input type="hidden" class="form-control" id="reg_asistencia" name="reg_asistencia">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
              <div class="form-group">
                <label for="tipo">Asunto</label>
                <input type="text" class="form-control align-left" id="asunto" name="asunto" required="required" placeholder="Asunto">
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="tipo">Tipo de actividad:</label>
                <select class="form-control" id="tipo_actividad" name="tipo_actividad">
                  {{tipo_actividad_html|raw}}
                </select>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                  <label for="tipo">Tipo de persona:</label>
                  <div class="controls">
                    <label class="radio-inline">
                      <input type="radio" name="tipo_persona" id="tipo_persona_general" value="general" checked="checked">
                      General
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="tipo_persona" id="tipo_persona_dirigente" value="dirigente">
                      Dirigentes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="tipo_persona" id="tipo_persona_seleccionar" value="seleccionar">
                      Seleccionar
                    </label>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">
                <div class="form-group">
                  <label for="tipo">¿Multa?:</label>
                  <div class="controls">
                    <label class="radio-inline">
                      <input type="radio" name="multa" id="multa_no" value="0" checked="checked">
                      NO
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="multa" id="multa_si" value="1">
                      SI
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7" id="grupo_multa_monto" style="display: none">
                <div class="form-group">
                  <label for="tipo">Monto de la multa:</label>
                  <div class="input-group">
                      <div class="input-group-addon">
                         <i class="fa fa-money"></i>
                      </div>
                      <input type="text" class="form-control align-center" id="monto_multa" name="monto_multa" placeholder="0.00">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>          
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label>Fecha Inicio:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right date-picker" id="fecha_inicio" name="fecha_inicio">
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="bootstrap-timepicker">
                  <div class="form-group">
                    <label for="hora_inicio">Hora Inicio:</label>
                    <div class="input-group">
                        <input type="text" class="form-control timepicker" id="hora_inicio" name="hora_inicio" placeholder="Hora Inicio">
                        <div class="input-group-addon">
                           <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
                <label>Fecha Fin:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right date-picker" id="fecha_fin" name="fecha_fin">
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
              <div class="bootstrap-timepicker">
                  <div class="form-group">
                    <label>Hora Fin:</label>
                    <div class="input-group">
                      <input type="text" class="form-control timepicker" name="hora_final" id="hora_final" placeholder="Hora Final">
                      <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label for="detalle">Detalles:</label>
              <textarea class="form-control" id="detalle" name="detalle" rows="4" placeholder="Escriba el detalle del evento"></textarea>
            </div>
          </div>
        </div>
            
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <fieldset>
                  <legend class="form-group"><label for="condicion">Estado</label></legend>
                      <div class="controls">
                      <label class="radio-inline"><input type="radio" name="condicion" id="cond_porconfirmar" value="porconfirmar" checked="checked"></input>Por confirmar</label>
                      <label class="radio-inline"><input type="radio" name="condicion" id="cond_confirmado" value="confirmado"></input>Confirmado</label>
                      <label class="radio-inline"><input type="radio" name="condicion" id="cond_realizandose" value="realizandose"></input>Realizandose</label>
                      <label class="radio-inline"><input type="radio" name="condicion" id="cond_finalizo" value="finalizo"></input>Finalizó</label>
                      <label class="radio-inline"><input type="radio" name="condicion" id="cond_cancelado" value="cancelado"></input>Cancelado</label>
                      </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <div id="participante" class="tab-pane fade">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>Buscar Persona:</label>
            <div class="form-group input-group">
              <input type="text" disabled="disabled" class="form-control ui-autocomplete-input" id="bus_persona" name="bus_persona" placeholder="Buscar ..." autocomplete="off">
              <span class="input-group-addon">
                <img id="load_busper" src="{{asset('public/img/load.gif')}}" width="20" height="20" style="display: none">
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered" id="participantes">
              <tr>
                <th>Nro.</th>
                <th>Nombre</th>
                <th>Resp.</th>
                <th>Acc.</th>
              </tr>
            </table>
            <input type="hidden" id="codigo_participantes" name="codigo_participantes">
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="align-center" style="padding-top: 10px">
          <button type="submit" class="btn btn-primary" id="enviar" name="enviar">Guardar</button>
          <a class="btn btn-default" href="{{path('evento_listado')}}">Cancelar</a>
        </p>
      </div>
    </div>
</form>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{asset('public/assets/js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('public/assets/js/bootstrap-timepicker.min.js')}}"></script>

<script type="text/javascript">
  $(document).ready(function(){

    $( "#guardar_registrar_asistencia").click(function(e) {
        e.preventDefault();
        $("#reg_asistencia").val('REG_ASISTENCIA');
        $("#evento" ).submit();
    });

    //Timepicker
      $(".timepicker").timepicker({
          minuteStep: 1,
      showSeconds: true,
      showMeridian: false
      });

      //Date picker
      $('.date-picker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true
      }).datepicker("update", '{{fecha_inicio}}');


    $("input[name='condicion']").on("click", function(){
      if ($(this).val() == 'realizandose' || $(this).val() == 'finalizo') {
        $("#guardar_registrar_asistencia").show();
      }else{
        $("#guardar_registrar_asistencia").hide();
      }
    });

    $("input:radio[name='tipo_persona']").on("click", function(){
      
      if ($(this).val() == 'seleccionar') {
        $("#bus_persona").removeAttr("disabled");
      }else{
        $("#bus_persona").attr("disabled","disabled");
      }
    });

    deleteParticipante = function(id){
      $("#filapersona_"+id).remove();
      var participantes = $("#codigo_participantes").val();
      participantes = participantes.split('-');
      var new_participantes = '';
      if (participantes.length > 0) {
        for (var i =0; i<participantes.length; i++) {
          if (participantes[i] !=id) { new_participantes += participantes[i]+'-';}
        }
      }
      new_participantes = new_participantes.substring(0,new_participantes.length-1);
      $("#codigo_participantes").val(new_participantes);
    }

    addPersona = function(obj){

      var exist   = $("#participantes tbody #perresp_"+obj.id).length;
      var cantpar = parseInt($("#participantes .row_personas").length)+1;

      var html = '<tr id="filapersona_'+obj.id+'">';
      html += '<td>'+obj.numero+'</td>';
      html += '<td>'+obj.label+'</td>';
      html += '<td><input type="checkbox" id="perresp_'+obj.id+'" name="perresp_'+obj.id+'"></td>';
      
      //html += '<td><button type="button" class="btn btn-sm btn-danger" data-toggle="button" onclick="deleteParticipante('+obj.id+')">Eliminar</button></td>';
      html += '<td><a onclick="deleteParticipante('+obj.id+')" class="color-orange"><i class="ace-icon fa fa-trash-o bigger-200"></i></a></td>';
      html += '<tr>';

      if (exist == 0) {
        $("#participantes tbody").append(html);
        var participantes = ($("#codigo_participantes").val() !='')?$("#codigo_participantes").val()+'-'+obj.id:obj.id;
        $("#codigo_participantes").val(participantes);
      }
   }

    $( "#bus_persona" ).autocomplete({
      source: function( request, response ) {
        $("#load_busper").show();
        $.ajax({
            type: 'GET',
            url: "{{path('evento_buscarpersona')}}",
            data: {term: request.term,tipoP: $("input[name='tipo_persona']:checked").val()},
            dataType: "json",
            success: function( data ) {
                $("#load_busper").hide();
                response(data);
            }
        });
      },
      minLength: 2,
      select: function(event, ui) {
          addPersona(ui.item);
          $(this).val('').focus();
          return false;
      }
    });

    $("input:radio[name='multa']").on("click", function(){
      if ($(this).val()=='1') {
        $("#grupo_multa_monto").show();
      }else{
        $("#grupo_multa_monto").hide();
      }
    });


  })
</script>
{% endblock %}