{% extends 'base.html.twig' %}

{% block body %}
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Asunto</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for entity in pagination %}
      <tr>
        <td>{{entity.asunto}}</td>
        <td>{{entity.fechainicio |date('d/m/Y') }} {{ entity.horainicio | ampm }}</td>
        <td>{{entity.fechafin | date('d/m/Y')}} {{ entity.horafinal | ampm }}</td>
        <td>
          {%set cantasist = existeRegistroAsistencia(entity.id)%}
          {%if cantasist > 0%}
            <a href="{{path('asistenciaevento_listapersona')}}?evento={{entity.id}}" class="color-purple" title="Editar Aportación">
              <i class="ace-icon fa fa-pencil-square-o bigger-200"></i>
            </a>
          {%else%}
            <a href="{{path('asistenciaevento_listapersona')}}?evento={{entity.id}}" title="Registrar Aportación">
              <i class="ace-icon fa fa-check-square-o bigger-200"></i>
            </a>
          {%endif%}
          
        </td>
      </tr>
    {%endfor%}
    </tbody>
    
  </table>
  <!--Paginado-->
  <div class="pagination-navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script type="text/javascript">

  $(document).ready(function(){

  });

</script>
{% endblock %}