{% extends 'base.html.twig' %}

{% block body %}
    
    {%set message_success = app.session.flashbag.get('success')%}
    {% if message_success %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            {% for msg  in  message_success%}
                {{ msg}}
            {% endfor %}
        </div>
    {% endif %}

    <p class="group-new-botton">
        <a href="{{ path('menu_new') }}" class="btn btn-primary">Nuevo Menú</a>
    </p>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Padre</th>
                <th>Enlace</th>
                <th>Estado</th>
                <th>Tiene_hijo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.nombre }}</td>
                <td>{{ getNombrePadre(menu.padre) }}</td>
                <td>{{ menu.enlace }}</td>
                <td>{% if menu.estado %}Activo{% else %}Desactivo{% endif %}</td>
                <td>{% if menu.tienehijo %}Si{% else %}No{% endif %}</td>
                <td class="align-center">
                    
                    <a href="{{ path('menu_edit', { 'id': menu.id }) }}"><i class="ace-icon fa fa-pencil-square-o bigger-200"></i></a>
                    {%if getCantidadHijo(menu.id) == 0%}
                        <a href="{{ path('menu_delete', { 'id': menu.id }) }}"><i class="ace-icon fa fa-trash-o bigger-200"></i></a>
                    {%endif%}
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    

{% endblock %}
