{% extends 'base.html.twig' %}

{% block body %}
    <p class="group-new-botton">
        <a href="{{ path('menu_new') }}" class="btn btn-primary pull-left">Nuevo Menú</a>
    </p>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Padre</th>
                <th>Nivel</th>
                <th>Enlace</th>
                <th>Css_icono</th>
                <th>Estado</th>
                <th>Tiene_hijo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            {%if menu.orden !=101%}
                <tr>
                    <td>{{ menu.nombre }}</td>
                    <td>{{ menu.padre }}</td>
                    <td>{{ menu.nivel }}</td>
                    <td>{{ menu.enlace }}</td>
                    <td>{{ menu.cssicono }}</td>
                    <td>{% if menu.estado %}Yes{% else %}No{% endif %}</td>
                    <td>{% if menu.tienehijo %}Yes{% else %}No{% endif %}</td>
                    <td>
                        
                                <a href="{{ path('menu_edit', { 'id': menu.id }) }}"><i class="ace-icon fa fa-pencil-square-o bigger-200"></i></a>
                            
                                <a href="{{ path('menu_show', { 'id': menu.id }) }}"><i class="ace-icon fa fa-trash-o bigger-200"></i></a>
                           
                    </td>
                </tr>
            {%endif%}
        {% endfor %}
        </tbody>
    </table>

    
    

{% endblock %}
