{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Padre</th>
                <th>Nivel</th>
                <th>Enlace</th>
                <th>Css_icono</th>
                <th>Estado</th>
                <th>Tiene_hijo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                <td>{{ menu.nombre }}</td>
                <td>{{ menu.padre }}</td>
                <td>{{ menu.nivel }}</td>
                <td>{{ menu.enlace }}</td>
                <td>{{ menu.cssicono }}</td>
                <td>{% if menu.estado %}Yes{% else %}No{% endif %}</td>
                <td>{% if menu.tienehijo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('menu_show', { 'id': menu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('menu_edit', { 'id': menu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menu_new') }}">Create a new menu</a>
        </li>
    </ul>
{% endblock %}
