{% extends 'base.html.twig' %}

{% block stylesheets%}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
{% endblock %}

{% block body %}

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Resumen De Eventos'
    },
    subtitle: {
        text: '--'
    },
    xAxis: {
        categories: {{data_meses|raw}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: '--'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Faena',
        data: {{data_evento_faena|raw}}

    },
    {
        name: 'Reunión',
        data: {{data_evento_reunion|raw}}

    },{
        name: 'Salida',
        data: {{data_evento_salida|raw}}

    }]
});
    </script>
{% endblock %}