{% extends 'base.html.twig' %}

{% block body %}
    
    <form method="post" action="{{ path('tipoactividad_new')}}">

        <div class="row">
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.nombre)}}
                {{form_widget(form.nombre) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.tipo_tipo_actividad)}}
                {{form_widget(form.tipo_tipo_actividad) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.descripcion)}}
                {{form_widget(form.descripcion) }}
            </div>
            <div class=" cols col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {{form_label(form.activo)}}
                {{form_widget(form.activo) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
        <input type="submit" value="Crear" class="btn btn-success">
        <a href="{{ path('tipoactividad_index') }}" class="btn btn-defaul">Cancelar</a>
    </form>

{% endblock %}
