{% extends 'base.html.twig' %}

{% block body %}

    {%set message_success = app.session.flashbag.get('success')%}
    {% if message_success %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            {% for msg  in  message_success%}
                {{ msg}}
            {% endfor %}
        </div>
    {% endif %}

    {%set message_error = app.session.flashbag.get('error')%}
    {% if message_error %}
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            {% for msg  in  message_error%}
                {{ msg}}
            {% endfor %}
        </div>
    {% endif %}

<form class="form-horizontal" name="form_changepassword" id="form_changepassword" method="POST" action="{{path('acceso_update_password')}}">
    
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-users"></i></span>
        <input type="text" class="form-control" id="user_name" name="user_name" value="{{entity.usuario}}"  placeholder="Nombre usuario" autocomplete="false">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" id="password_anterior" name="password_anterior"  placeholder="Contraseña Anterior" autocomplete="false">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" id="password" name="password"  placeholder="Nueva Contraseña" autocomplete="false">
    </div>
    <br>

    <button type="submit" class="btn btn-danger btn-md">Actualizar</button>
    <a href="{{ path('inicio_index') }}" class="btn btn-defaul btn-md">Cancelar</a>
    
</form>

{% endblock %}

{% block codeScript %}
<script type="text/javascript">

    $('#usuario, #password').on("keyup", function(e){
        if(e.keyCode == 13)
        {
            $("#form_login").submit();
        }
    });

    /*$('#form_changepassword').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                        notEmpty: {
                        message: 'Ingrese Email ó Nombre usuario'
                    }
                }
            },
             password: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese Password'
                    }
                }
            }
        }
        
    });*/

</script>
{% endblock %}